<% layout('/layouts/boilerplate') %>

    <div id="upper">
        <div id="flash"><%= messages %></div>
        <section id="main">
            <div id="key">
                <p>"For new user, click register"</p>
                <button id="relog"><a href="/register" id="regloglink">Register</a></button>
                <!-- file:///C:/Users/musaveer/Desktop/Project/SU&SI/registerform.html -->
                <p id="ptop">"Already registered, click login"</p>
                <button id="relog"> <a href="/login" id="regloglink">Log In</a></button>

            </div>
        </section>

    </div>