<% layout('/layouts/profile') %>

    <h1>Hey here you will upload your document </h1>
    <form action="/UserProfile/UploadDocuments" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <button type="submit">Upload</button>
    </form>