<% layout('/layouts/profile') %>

  <link rel="stylesheet" href="/Profile.css" type="text/css">

  <div id="flash">
    <%= messages %>
  </div>

  <div class="mainContainer">

    <div class="insideMain">

      <div class="userDescription">

        <div class="box">
          <img src="<%= imagePath %>" alt="E-mage" id="userImg">
        </div>

        <div class="forpara">
          <p id="para">Now in just few Click, Store your documents with most secure system, You can Retrieve, Download
            Your Documents whenever you Wish.</p>
        </div>

      </div>

      <div class="afterDescription">
        <div class="buttonDiv">
          <button id="Docs"><a href="/UserProfile/viewDocuments">View Documents</a></button><br>
          <button id="Docs"> <a href="/UserProfile/UploadDocuments">Upload Documents</a></button>
        </div>
      </div>

    </div>

  </div>

  </div>