<% layout('/layouts/profile') %>

  <div class="mainContainer">

    <div class="insideMain">

      <div class="userDescription">

        <div class="box">
          <img src="<%= imagePath %>" alt="E-mage" id="userImg">
        </div>

        <div class="forpara">
          <p id="para">Now in just few Click, Store your documents with most secure system, You can Retrieve, Download
            Your Documents whenever you Wish.</p>
        </div>

      </div>

      <div class="afterDescription">
        <button><a href=""></a></button>
      </div>

    </div>

  </div>

  </div>