<% layout('/layouts/boilerplate') %>

    <form action="/verifyOtp" method="post" id="otpform">

        <div class="otpdiv">
            <label for="otp" id="otplabel">Enter OTP : </label>
            <input type="tel" id="otp" name="otp">
            <button id="btnotp">Submit</button>
        </div>
    </form>