html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    max-width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: linear-gradient(to bottom right, rgba(61, 67, 52, 0.9), rgba(165, 240, 247, 0.9)); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken; 
    /* background-image: linear-gradient(to right, rgb(186 208 239) , rgb(249 254 223)); */
    background-color: black;
}

#flash{
    color: red; 
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

#navimg{
    height: 30px;
    width: 40px;
}

nav{
    opacity: 1;
    /* background-image: linear-gradient(to right, rgb(186 208 239) , rgb(166 138 195)); */
    background-color: #F3E5F5;
    /* box-shadow: 0px 25px 45px rgb(223 172 172 / 60%); */
    color: white;
}

#particle-js{
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    height: 80vh;
}

#upper {
    position: absolute;
    top: 20%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* height: 50vh; */
    padding: 1em;
    color: rgb(0, 0, 0);
}

#welcome{
    width: 50%;
    height: 10%;
    font-size: x-large;
    font-weight: bolder;
    /* color: rgb(112 24 207); */
    color: #e7cae7;
}

#key {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding: 1em;
    border: 5px rgb(175, 130, 219) groove;
    border-radius: 0.5em;
    /* background: rgba(57, 72, 95, 0.4); */
    background-color: rgba(231, 202, 231, 0.5);
}

#idP{
    margin-top: 10px;
}

#ptop{
    margin-top: 2em;
}

#reglog {
    background-color: rgb(255, 255, 255);
    color: rgb(232, 248, 252);
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px rebeccapurple solid;
}

#reglog:hover {
    color: red;
    padding: 5px;
    /* background-color: rgb(223, 215, 215); */
    background-color: white;
    font-weight: bold;
    border-radius: 0.2em;
}


#regloglink{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


#regloglink:hover{
    color: red;
    cursor: grab;
}

#otpform{
    width: 50%;
    height: 10em;
    background-color: rgb(63, 52, 49);
    border: 2px salmon solid;
    border-radius: 1em;
    position: absolute;
    top: 40%;
    left: 10%;
    opacity: 0.9;
}

.otpdiv{
    color: white;
    font-weight: bolder;
    margin-top: 3em;
    margin-left: 3em;
}

#btnotp{
    color: green;
    font-weight: bolder;
}

#btnotp:hover{
    color: red;
    background-color: white;
    border-radius: 0.5em;
    transition: 0.8s;
    padding: 0.2em;
}

#forgotPassword{
    font-weight: bold;
    color: yellow;
}

#forgotPassword:hover{
    text-decoration: none;
    color: black;
}

#sect{
    background-color: aliceblue;
    margin-top: 1em;
    border: 5px groove saddlebrown;
    border-radius: 1em;
    padding: 1em;
    opacity: 0.7;
}


@media (max-width: 992px) { /* Adjust breakpoint as needed */
    #particle-js{
      position: relative;
      top: 5%;
    }
}

@media (max-width: 620px){
    #welcome{
        width: 100%;
        font-size: large;
        font-weight: bolder;
        color: rgb(117, 88, 148);
        
    }
    #upper{
        display: block;
        align-items: center;
        top: 0%;
    }
    #flash{
        font-size: 1em;
    }

}