html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


#formd{
  color: rgb(255, 255, 255);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border: none;
  position: absolute;
}

#indiv {
  width: 400px;
  width: 70%;
  height: 100%;
  border: 2px rgb(4, 5, 5) solid;
  background: rgba(241, 240, 240, 0.7);
  box-shadow: #b7cae1 4px 9px 10px 1px;
  color: black;
  font-weight: bolder;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;
  
}

@media (max-width: 620px){
  
  #indiv{
    border: none;
    background: none;
    width: 100%;
  }
  label{
    color: white;
  }

}





