<% layout('/layouts/boilerplate') %>

    <section id="sect">

        <h1 class="head">Steps to create an Account :-</h1>
        <div id="description">
            <ul>
                <li id="user">NEW USER</li>
            </ul>
            <ol>
                <li>Click on register tab and a new window will appear.</li>
                <li>Enter your Full Name,</li>
                <li>Enter your Email , Phone number</li>
                <li>Set a Password</li>
                <li>Submit the form on click "Submit"</li>
                <li>On Submitting, you will be redirected to home page</li>
            </ol>
        </div>
        <div id="description">
            <ul>
                <li id="log">Log In</li>
            </ul>
            <ol>
                <li>On Log In , </li>
                <li>Submit the name and phone number provided to you and enter your password and on submitting the password they has to enter otp given to them on email account or on registered mobile number.</li>
                <li>Fill all given details</li>
                <li>Then click on <button>Submit</button></li>
            </ol>
        </div>
    </section>
